---
layout: default
title: Download MetaMe
---

<div id="app">
  <div class="bg-dark">
    <div class="jumbotron bg-dark text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-lg-10 col-xl-8 text-left">
            <h1>{{ page.title }}</h1>
            <p class="lead">
              <span v-cloak v-if="release">
                Latest version: <span v-text="release.name"></span>
              </span>
              <span v-else>
                Loading...
              </span>
            </p>
            <div v-cloak v-if="release">
              <a class="btn btn-primary btn-lg mt-2" role="button" v-bind:href="getDownloadUrl()"
                v-on:click="sendGoogleAnalyticsDownloadEvent()"><i class="fab fa-windows"></i> Download for Windows
                10</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section v-cloak>
    <div v-if="release" class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-10 col-xl-8 text-left">
          <h2 class="mt-4">Installation</h2>

          <h3 class="h5 mt-4">Step 1. Download and run the setup file</h3>
          <h3 class="h5 mt-4">Step 2. Click install</h3>
          <div>
            <img src="/assets/MetaMeInstaller.png" width="200px" />
          </div>
          <h3 class="h5 mt-4">Step 3. Confirm and complete installation</h3>
          <div>
            <img src="/assets/UACPopup1.png" width="200px" />
          </div>
          <h2 class="mt-5">Troubleshooting and Feedback</h2>
          <p>
            This is still an early version, so not everything will be perfect.
            If you have any feedback, suggestions, or bugs, you can contact us
            at our Slack channel or email us.
          </p>

          <div>
            <i class="fab fa-slack"></i> Slack:
            <a
              href="https://metameapp.slack.com/join/shared_invite/enQtNTA2ODc5NzU5MjM4LTZhN2ZlMGVkOGQzY2ZiNDJlMzc2M2NlMzdjZjkwYTAzZmFjMmQxYzNkOTk5MDU2YjU2MTE3M2MxODFjMzZhYzA">Invite
              link</a>
          </div>
          <div><i class="far fa-envelope"></i> Email: hello@metameapp.com</div>
        </div>
      </div>
    </div>
  </section>
</div>

{% include footer.html %}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  var app = new Vue({
    el: "#app",
    data: {
      message: "Hello Vue!",
      release: undefined
    },
    methods: {
      refresh: function () {
        $.getJSON(
          "https://api.github.com/repos/zeref09/metame-releases/releases/latest"
        ).done(release => {
          this.release = release;
        });
      },
      getInstallerAsset: function () {
        var assets = this.release.assets;
        var installerAsset = assets.find(function (item) {
          return item.name == "MetaMe-Installer.exe";
        });

        return installerAsset;
      },
      getDownloadUrl: function () {
        var installerAsset = this.getInstallerAsset();
        return installerAsset.browser_download_url;
      },
      sendGoogleAnalyticsDownloadEvent: function () {
        var downloadUrl = this.getDownloadUrl();
        gtag("event", "installer_download", {
          download_url: downloadUrl
        });
      }
    },
    created: function () {
      this.refresh();
    }
  });
</script>
<script src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
  integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>