.hero {
  background-color: #212121
}

img.feature-icon {
  margin-top: 20px;
}

h5.feature-header {
  margin-top: 20px;
}

.feature-description {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
