<div class="bg-dark text-white pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="h6 m-0">
          {{ site.productname }}
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12 h4 m-0">
        <span>
          <a href="https://twitter.com/MetaMe43756791" class="text-white text-decoration-none">
            <i class="fab fa-twitter"></i>
            Twitter
          </a>
        </span>
        <span class="ml-2">
          <a href="https://www.producthunt.com/posts/metame" class="text-white text-decoration-none">
            <i class="fab fa-product-hunt"></i>
            Product Hunt
          </a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-muted">
        &#169; {{ site.productname }} 2019
      </div>
    </div>
  </div>
</div>