<div class="bg-dark text-white pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="h6 m-0">
          MetaMe
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12">
        <span class="mr-4 h4">
          <i class="fab fa-twitter"></i>
          Twitter
        </span>
        <span class="mr-4 h4">
          <i class="fab fa-product-hunt"></i>
          Product Hunt
        </span>
        <span class="h4">
          <i class="fab fa-slack"></i> Slack
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-muted">
        Copyright MetaMe 2019
      </div>
    </div>
  </div>
</div>
<!-- <nav class="navbar footer">
  <div class="container text-center">
    <span style="flex:1;">Copyright 2019 MetaMe</span>
  </div>
</nav> -->