<style>
  .navbar .nav-link {
    color: #fff;
  }
</style>
<div class="bg-dark">
  <nav class="navbar navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/assets/icon.png" width="30" height="30" alt="" />
        MetaMe
      </a>
      <span class="flex-grow-1"></span>
      <a class="nav-link" href="/">HOME</a>
      <a class="nav-link" href="/posts.html">BLOG</a>
      <a class="btn btn-primary" href="/download.html">DOWNLOAD</a>
    </div>
  </nav>
</div>