.landing-body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-image {
  margin-top: 32px;
}

section {
  margin: 64px 0;
}

// #registrationForm {
//   margin-top: 24px;
//   .input-group {
//     input[name="email"] {
//       width: 100px;
//     }
//   }
// }

.navbar {
  a.navbar-brand {
    line-height: 30px;
  }
}

.feature > h5 {
  margin-top: 16px;
}

.download-text {
  margin: 0 0 0 8px;
  font-weight: bold;
}

.value-proposition {
  display: flex;
  flex-direction: column;
  flex: 1;
}
