---
layout: default
---
<div class="bg-dark text-white jumbotron">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-10 col-xl-8 text-left">
        <h1>{{page.name}}</h1>
        <p class="lead">{{page.about}}</p>
        <div>
          <a href="mailto:{{page.email}}" class="text-white"><i class="fas fa-envelope"></i> {{page.email}}</a>
        </div>
        <div>
          <a href="//twitter.com/{{page.twitter}}" class="text-white"><i class="fab fa-twitter"></i>
            {{page.twitter}}</a>
        </div>
      </div>
    </div>
  </div>
</div>