---
layout: default
---
{% assign author = site.authors | where: 'name', page.author | first %}
<div class="my-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-10 col-xl-8 text-left">
                <h1>{{page.title}}</h1>
                <div>
                    By <a href="{{author.url}}">{{author.name}}</a>
                </div>
                <div>
                    {{page.date | date:'%B %-d, %Y'}}
                </div>
                <div class="mt-4">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
</div>