---
layout: default
---
<div class="my-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-10 col-xl-8 text-left">
        <div>
          <a class="h4" href="/faq.html">
            <span class="oi oi-arrow-left" title="arrow left" aria-hidden="true"></span>
            <span>Back to FAQ</span>
          </a>
        </div>
        <h1 class="mt-3">{{page.title}}</h1>
        <div>
          {{page.date | date_to_string}}
        </div>
        <div class="mt-3">
          {{content}}
        </div>
      </div>
    </div>
  </div>
</div>